{% extends 'home/base.html' %}
{% load static %}

{% block content %}
     <div class="container">

      <!--Section: Blog v.4-->
      <section class="section mt-5 pb-3 wow fadeIn">
    <!-- Card image -->
     <div class="row">
          <div class="col-md-12">
            <!-- Card -->
            <div class="card card-cascade wider reverse">

              <!-- Card image -->
              <div class="view view-cascade overlay">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Slides/img%20(134).jpg" alt="Card image cap">
                <a href="#!">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>

            </div>
          </div>
     </div>
      </section>
     </div>

{% endblock %}